<% provide :title, t("about") %>
<h1><%= t "about" %></h1>
<p>
  <%= t "the" %> <%= link_to t("ror_tut"), Settings.rails_tut %>
  <%= t "part" %>
  <%= link_to t("l_enough"), Settings.learn_enough %>
  <%= t "tut" %>
  <%= link_to t("book"), Settings.rails_tut_book %>
  <%= link_to t("screencast"), Settings.screencasts %>
  <%= t "teach" %>
  <%= link_to t("ror"), Settings.rails_tut %>
  <%= t "the_end" %>
</p>
