<% provide :title, t("help") %>
<h1><%= t "help" %></h1>
<p>
  <%= t "get_help" %>
  <%= link_to t("rails_help"), Settings.rails_tut_help %>
  <%= t "help_sample_app" %>
  <%= link_to t("rails_book"), Settings.rails_tut_book %>
</p>
