<footer class="footer">
  <small>
    <%= t "the" %><%= link_to t("ror_tut"), Settings.rails_tut %><%= t "by" %><%= link_to t("michael"), Settings.micheal %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("about"), about_path %></li>
      <li><%= link_to t("contact"), contact_path %></li>
      <li><%= link_to t("news"), Settings.ror_news %></li>
    </ul>
  </nav>
</footer>
